
/* Color palette */

$light-grey-blue: #81b3d2;
$faded-blue: #669ec0;
$cool-blue: #5496bd;
$white: #e5e5e5;
$red: #ff0000;
$greyish-brown: #766357;
$black: #000000;
$white: #ffffff;
$black-shaft: #333333;
$gray-iron: #d6d6d6;
$gray-gallery: #eeeeee;


/* Sizes */
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
