
.map__picture {
  display: block;
  width: 100%;
  height: 350px;
  // object-fit: cover;
}

/*************************************
 * tablet styles
 *************************************/
@media (min-width: $tablet-width) {
  .map__picture {
    width: $tablet-width;
    margin: 0 auto;
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {
  .map__picture {
    width: $desktop-width;
  }
}
