.button {
  display: block;
  padding: 20px 0;

  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $light-grey-blue;

  &:hover,
  &:focus {
      background-color: $faded-blue;
  }

  &:active {
      color: rgba($white, 0.3);

      background-color: $cool-blue;
  }
}
