.main {
    display: block;
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: $desktop-width) {
    .main {
        width: $desktop-width;
        margin: 0 auto;
    }
}
